@font-face {
  font-family: gotham-medium;
  src: url("./icons/gotham/GothamMedium.ttf") format("truetype"),
      url("./icons/gotham/GothamMedium_1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: gotham-book;
  src: url("./icons/gotham/GothamBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

[class^="gt-"], [class*="gt-"] ,.gt {
  font-family: gotham-book;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gt-medium{
  font-family: gotham-medium;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gt-book{
  font-family: gotham-book;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

